<div *ngIf="reuniones" class="row">
  <div class="col-md-12">
    <div *ngFor="let reunion of reuniones" class="card mb-3">
      <div class="card-header">
        <a [routerLink]="[reunion.id]" class="card-title">{{ reunion.fecha | date:'fullDate' }}</a>
      </div>
      <div class="card-body">
        <strong>Asignaciones:</strong>
        <p *ngFor="let asignacion of reunion.asignaciones">{{ asignacion.tipoAsignacion.nombre + ': ' }}{{ asignacion.estudiante1.nombre + ' - ' + asignacion.estudiante2.nombre}}</p>
      </div>
    </div>
  </div>
</div>
